{% load recruitmentfilters %}
{% csrf_token %}
<script>
$(document).off('click.pinToggle').on('click.pinToggle', '.oh-pin-toggle', function(e) {
    e.preventDefault();
    var btn = $(this);
    var inp = btn.closest('.oh-password-input-container').find('.oh-input--password');
    var show = btn.find('.oh-passowrd-input__show-icon');
    var hide = btn.find('.oh-passowrd-input__hide-icon');
    if (inp.attr('type') === 'password') {
        inp.attr('type', 'text');
        show.addClass('d-none');
        hide.removeClass('d-none');
    } else {
        inp.attr('type', 'password');
        show.removeClass('d-none');
        hide.addClass('d-none');
    }
});
</script>

<div class="container">
    {% if messages %}
    <div class="oh-alert-container">
        {% for message in messages %}
        <div class="oh-alert oh-alert--animated {{message.tags}}">
            {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="row">

        <div class="col-6">
            {% include 'employee_personal_info/employee_personal_info.html' %}
        </div>
        <div class="col-6">
            {% include 'employee_personal_info/employee_work_info.html' %}
        </div>
    </div>
</div>
