{% load i18n %} {% load static %}
<div class="oh-modal__dialog-header pb-0">
    <h1 class="oh-modal__dialog-title" id="addEmployeeModalLabel">
        {% trans "Create Payslip" %}
    </h1>
    <button class="oh-modal__close" aria-label="Close">
        <ion-icon name="close-outline"></ion-icon>
    </button>
</div>
<div class="oh-modal__dialog-body" id="individualPayslipModal">
    <form hx-post="{% url 'create-payslip' %}" hx-target="#objectCreateModalTarget" class="oh-profile-section pt-1"
        id="payslipCreateForm">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div class="oh-input__group">
                    <label class="oh-input__label" for="{{individual_form.employee_id.id_for_label}}">{% trans "Employee" %}</label>
                    {{individual_form.employee_id}} {{individual_form.employee_id.errors}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="contractStartDateDiv" class="mt-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="oh-input__group">
                    <label class="oh-input__label" for="{{individual_form.payroll_group_id.id_for_label}}">{% trans "Payroll Group" %}</label>
                    {{individual_form.payroll_group_id}} {{individual_form.payroll_group_id.errors}}
                    <small class="text-muted">{{individual_form.payroll_group_id.help_text}}</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="oh-input__group">
                    <label class="oh-input__label" for="{{individual_form.year_month.id_for_label}}">{% trans "Month" %}</label>
                    {{individual_form.year_month}} {{individual_form.year_month.errors}}
                </div>
            </div>
        </div>
        <div id="periodOptionsTrigger"
            hx-get="{% url 'payslip-period-options' %}"
            hx-trigger="change from:#id_payroll_group_id, change from:#id_year_month"
            hx-target="#periodSelectWrapper"
            hx-swap="innerHTML"
            hx-include="#id_payroll_group_id, #id_year_month"></div>
        <div class="row">
            <div class="col-12">
                <div class="oh-input__group">
                    <label class="oh-input__label" for="{{individual_form.period.id_for_label}}">{% trans "Pay Period" %}</label>
                    <div id="periodSelectWrapper">
                        {{individual_form.period}} {{individual_form.period.errors}}
                    </div>
                </div>
            </div>
        </div>
        <div class="oh-modal__dialog-footer p-0 pt-4">
            <input type="submit" value="Save" class="oh-btn oh-btn--secondary oh-btn--shadow" />
        </div>
    </form>
</div>
<script>
    (function () {
        var EMP_GROUP_MAP = {{ employee_group_map_json|safe }};
        var employeeEl = document.getElementById("id_employee_id");
        if (employeeEl) {
            employeeEl.addEventListener("change", function () {
                var groupId = EMP_GROUP_MAP[this.value];
                if (groupId) {
                    var groupEl = document.getElementById("id_payroll_group_id");
                    groupEl.value = groupId;
                    groupEl.dispatchEvent(new Event("change", { bubbles: true }));
                }
            });
        }
    })();
</script>
